IO_LOC "BOARD_CLK" 4;
IO_PORT "BOARD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "UART_TX" 69;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED0_N" 15;
IO_PORT "LED0_N" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED1_N" 16;
IO_PORT "LED1_N" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED2_N" 17;
IO_PORT "LED2_N" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED3_N" 18;
IO_PORT "LED3_N" IO_TYPE=LVCMOS33 DRIVE=8;
